@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:300,600,800&display=swap');

$DarkBlue: hsl(209, 23%, 22%);
$VeryDarkBlue: hsl(207, 26%, 17%);
$VeryDarkBlue2: hsl(200, 15%, 8%);
$DarkGray: hsl(0, 0%, 52%);
$VeryLightGray: hsl(0, 0%, 98%);
$White: hsl(0, 0%, 100%);

* {
    margin: 0;
    padding: 0;
    list-style: none;    
}

body {
    font-family: Nunito Sans, sans-serif;
    font-size: 14px;
    color: $VeryDarkBlue2;    
    background-color: $VeryLightGray;
    transition: background-color .4s ease-in;  
}

a {
    text-decoration: none;
    color: inherit;
}

.container {
    max-width: 1200px;
    margin: auto;
    padding: 0 2em;

    @media (max-width: 1200px) {
        width: 90%;
        padding: 0;
    }
}

.header-nav {
    background-color: $White;
    box-shadow: 0 3px 15px darken($VeryLightGray, 5%);
    transition: all .4s ease-in;

    .header-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;

        padding: 1.5em 0;
        user-select: none;

        .logo {
            margin-right: 3em;

            @media (max-width: 464px) {
                margin-bottom: 1.5em;
            }

            @media (max-width: 362px) {
                font-size: .9em;
                margin-right: 0;
            }
        }

        .theme-switch {
            display: flex;
            align-items: center;
            font-weight: 800;
          
            cursor: pointer;

            img {
                width: 14px;
                margin-right: .5em;
            }
        }
    }
}

main {
    padding: 50px 0;    

    .search {
        margin-bottom: 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        display: none;

        .input-search {
            position: relative;
            width: 450px;
            
            img {
                position: absolute;
                width: 20px;
                padding: 14px 35px;
            }

            input {
                font-family: Nunito Sans;
                color: $VeryDarkBlue2;
                font-weight: 600;
                width: 100%;
                padding: 15px;
                padding-left: 80px;
                border: none;
                outline: none;

                border-radius: 4px;
                box-shadow: 0 0 10px darken($VeryLightGray, 5%);
                transition: all .4s ease-in,
                            box-shadow .2s ease-in;

                @media (max-width: 739px){
                    margin-bottom: 1em;            
                }

                &::placeholder {
                    color: lighten($VeryDarkBlue2, 55%);
                }

                &:focus {
                    box-shadow: 0 5px 20px 5px darken($VeryLightGray, 5%);
                }                
            }
        }

        .input-select {
            select {
                font-weight: 600;
                border: 0;
                width: 200px;
                padding: 15px;
                border-radius: 4px;
                box-shadow: 0 0 10px darken($VeryLightGray, 5%);
                outline: none;
                transition: all .4s ease-in,
                            box-shadow .2s ease-in;
                cursor: pointer;
            }
        }
    }

    .countries-list {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 65px;

        @media (max-width: 1024px){
            grid-template-columns: repeat(3, 1fr);            
        }

        @media (max-width: 800px){
            grid-template-columns: repeat(2, 1fr);            
        }

        @media (max-width: 500px){
            grid-template-columns: repeat(1, 1fr);            
        }

        .country {   
            background-color: $White;
            box-shadow: 0 0 10px darken($VeryLightGray, 5%);            
            border-radius: 5px;
            overflow: hidden;
            min-height: 300px;
            transition: all .2s ease-in-out,
                        background-color .4s ease-in;

            cursor: pointer;
            
            &:hover {
                box-shadow: 0 5px 20px 5px darken($VeryLightGray, 5%);
                transform: translateY(-8px);
            }
            
            .flag {
                min-height: 140px;
                background-size: cover;
                background-position: center center;
                background-repeat: no-repeat;                

                img {
                    width: 100%;
                }
            }

            .country-info {
                padding: 1.5em 1.5em 2.2em 1.5em;

                .name {
                    font-weight: 800;
                    margin-bottom: 1em;
                }

                span {
                    font-weight: 600;
                }

                & > * {
                    margin-bottom: .2em;
                }
            }
            
        }
    }
}

.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    width: 100%;

    .loader {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        border-top: 5px solid black;  
        animation: rotar 1s linear infinite;
        animation-delay: 0;

        @keyframes rotar {
            0% {transform: rotate(0deg);}
            100% {transform: rotate(360deg);}  
        }
    }
}

// Country PAGE

.country-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    grid-gap: 80px;
    margin-top: 100px;

    @media (max-width: 980px) {
        grid-template-columns: 1fr;
    }

    .flag {
        img {
            max-width: 100%;
            min-width: 250px;
        }        
    }

    .country-info {
        transition: all .4s ease-in;
        .name {
            font-size: 2.5em;
            font-weight: 800;
            margin-bottom: 25px;
        }  

        .contain-boxes {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            margin-bottom: 50px;

            .box1 {
                margin-right: 20px;
            }
        }
        
        .contain-boxes > * {
            font-size: 16px;

            span {
                font-weight: 600;
            }
        }

        .border-countries {
            font-size: 16px;
            span {
                font-weight: 600;
            }
        }
    }
}

.back-page {
    font-weight: 600;
    border: 0;
    padding: 12px 30px;
    border-radius: 4px;
    box-shadow: 0 0 10px darken($VeryLightGray, 5%);
    outline: none;
    color: $DarkGray;
    transition: all .4s ease-in,
                box-shadow .2s ease-in;
    cursor: pointer;
    margin-top: 20px;
    display: none;

    &:hover {
        box-shadow: 0 5px 20px 5px darken($VeryLightGray, 5%);
    }

    img {
        width: 16px;
        margin-bottom: -4px;
        margin-right: 10px;
    }
}

// Dark MODE

.dark  {
    color: $White;
    background-color: $VeryDarkBlue;

    main {
        .countries-list .country {
            background-color: $DarkBlue;
            box-shadow: 0 0 10px darken($DarkBlue, 7%);

            &:hover {
                box-shadow: 0 5px 20px 5px darken($DarkBlue, 7%);
            }
        }

        .back-page {
            box-shadow: 0 0 10px darken($DarkBlue, 7%);
            background-color: $DarkBlue;
            color: $White;

            &:hover {
                box-shadow: 0 5px 20px 5px darken($DarkBlue, 7%);
            }
        }
    }

    .header-nav {
        background-color: $DarkBlue;
        box-shadow: 0 3px 15px darken($DarkBlue, 5%);
    } 
    
    input, select {
        color: $White !important;
        background-color: $DarkBlue;
        box-shadow: 0 0 10px darken($DarkBlue, 7%) !important;

        &:focus {
            box-shadow: 0 5px 20px 5px darken($DarkBlue, 7%);
        }
    }
}

