@import url("https://fonts.googleapis.com/css?family=Nunito+Sans:300,600,800&display=swap");
* {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  font-family: Nunito Sans;
  font-size: 14px;
  color: #111517;
  background-color: #fafafa;
  -webkit-transition: background-color .4s ease-in;
  transition: background-color .4s ease-in;
}

.container {
  max-width: 1200px;
  margin: auto;
  padding: 0 2em;
}

@media (max-width: 1200px) {
  .container {
    width: 90%;
    padding: 0;
  }
}

.header-nav {
  background-color: white;
  -webkit-box-shadow: 0 3px 15px #ededed;
          box-shadow: 0 3px 15px #ededed;
  -webkit-transition: all .4s ease-in;
  transition: all .4s ease-in;
}

.header-nav .header-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 1.5em 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.header-nav .header-content .logo {
  margin-right: 3em;
}

@media (max-width: 464px) {
  .header-nav .header-content .logo {
    margin-bottom: 1.5em;
  }
}

@media (max-width: 362px) {
  .header-nav .header-content .logo {
    font-size: .9em;
    margin-right: 0;
  }
}

.header-nav .header-content .theme-switch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 800;
  cursor: pointer;
}

.header-nav .header-content .theme-switch img {
  width: 14px;
  margin-right: .5em;
}

main {
  padding: 50px 0;
}

main .search {
  margin-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: none;
}

main .search .input-search {
  position: relative;
  width: 450px;
}

main .search .input-search img {
  position: absolute;
  width: 20px;
  padding: 14px 35px;
}

main .search .input-search input {
  font-family: Nunito Sans;
  color: #111517;
  font-weight: 600;
  width: 100%;
  padding: 15px;
  padding-left: 80px;
  border: none;
  outline: none;
  border-radius: 4px;
  -webkit-box-shadow: 0 0 10px #ededed;
          box-shadow: 0 0 10px #ededed;
  -webkit-transition: all .4s ease-in, -webkit-box-shadow .2s ease-in;
  transition: all .4s ease-in, -webkit-box-shadow .2s ease-in;
  transition: all .4s ease-in, box-shadow .2s ease-in;
  transition: all .4s ease-in, box-shadow .2s ease-in, -webkit-box-shadow .2s ease-in;
}

@media (max-width: 739px) {
  main .search .input-search input {
    margin-bottom: 1em;
  }
}

main .search .input-search input::-webkit-input-placeholder {
  color: #92a5af;
}

main .search .input-search input:-ms-input-placeholder {
  color: #92a5af;
}

main .search .input-search input::-ms-input-placeholder {
  color: #92a5af;
}

main .search .input-search input::placeholder {
  color: #92a5af;
}

main .search .input-search input:focus {
  -webkit-box-shadow: 0 5px 20px 5px #ededed;
          box-shadow: 0 5px 20px 5px #ededed;
}

main .search .input-select select {
  font-weight: 600;
  border: 0;
  width: 200px;
  padding: 15px;
  border-radius: 4px;
  -webkit-box-shadow: 0 0 10px #ededed;
          box-shadow: 0 0 10px #ededed;
  outline: none;
  -webkit-transition: all .4s ease-in, -webkit-box-shadow .2s ease-in;
  transition: all .4s ease-in, -webkit-box-shadow .2s ease-in;
  transition: all .4s ease-in, box-shadow .2s ease-in;
  transition: all .4s ease-in, box-shadow .2s ease-in, -webkit-box-shadow .2s ease-in;
  cursor: pointer;
}

main .countries-list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  grid-gap: 65px;
}

@media (max-width: 1024px) {
  main .countries-list {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 800px) {
  main .countries-list {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 500px) {
  main .countries-list {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
}

main .countries-list .country {
  background-color: white;
  -webkit-box-shadow: 0 0 10px #ededed;
          box-shadow: 0 0 10px #ededed;
  border-radius: 5px;
  overflow: hidden;
  min-height: 300px;
  -webkit-transition: all .2s ease-in-out, background-color .4s ease-in;
  transition: all .2s ease-in-out, background-color .4s ease-in;
  cursor: pointer;
}

main .countries-list .country:hover {
  -webkit-box-shadow: 0 5px 20px 5px #ededed;
          box-shadow: 0 5px 20px 5px #ededed;
  -webkit-transform: translateY(-8px);
          transform: translateY(-8px);
}

main .countries-list .country .flag {
  min-height: 140px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

main .countries-list .country .flag img {
  width: 100%;
}

main .countries-list .country .country-info {
  padding: 1.5em 1.5em 2.2em 1.5em;
}

main .countries-list .country .country-info .name {
  font-weight: 800;
  margin-bottom: 1em;
}

main .countries-list .country .country-info span {
  font-weight: 600;
}

main .countries-list .country .country-info > * {
  margin-bottom: .2em;
}

.loading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 70vh;
  width: 100%;
}

.loading .loader {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border-top: 5px solid black;
  -webkit-animation: rotar 1s linear infinite;
          animation: rotar 1s linear infinite;
  -webkit-animation-delay: 0;
          animation-delay: 0;
}

@-webkit-keyframes rotar {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotar {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.dark {
  color: white;
  background-color: #202c37;
}

.dark main .countries-list .country {
  background-color: #2b3945;
  -webkit-box-shadow: 0 0 10px #1d272f;
          box-shadow: 0 0 10px #1d272f;
}

.dark main .countries-list .country:hover {
  -webkit-box-shadow: 0 5px 20px 5px #1d272f;
          box-shadow: 0 5px 20px 5px #1d272f;
}

.dark .header-nav {
  background-color: #2b3945;
  -webkit-box-shadow: 0 3px 15px #212c35;
          box-shadow: 0 3px 15px #212c35;
}

.dark input, .dark select {
  color: white !important;
  background-color: #2b3945;
  -webkit-box-shadow: 0 0 10px #1d272f !important;
          box-shadow: 0 0 10px #1d272f !important;
}

.dark input:focus, .dark select:focus {
  -webkit-box-shadow: 0 5px 20px 5px #1d272f;
          box-shadow: 0 5px 20px 5px #1d272f;
}
/*# sourceMappingURL=style.css.map */